&gpioc {
    status = "okay";
};

&gpioi {
    status = "okay";
};

&gpioa {
    status = "okay";
};

&gpiof {
    status = "okay";
};

/ {

    accel-stuff {

        compatible = "gpio-leds";

        imupwr: imupwr {
            gpios = <&gpiof 8 GPIO_ACTIVE_HIGH>;
        };

        out: out {
            gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
        };

    };

    imuspi: imuspi {
        compatible = "zephyr,spi-bitbang";
        status = "okay";

        #address-cells = <1>;
        #size-cells = <0>;

        clk-gpios = <&gpioc 2 GPIO_ACTIVE_HIGH>;
        miso-gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;
        mosi-gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
        cs-gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;
    };
};


